button{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.inc{
    color: aqua;
    background-color: rgb(243, 10, 10);

}

.dec{
    color: yellow;
    background-color: rgb(255, 145, 0);
}